@model Paluto_Kay_Juan.Models.PkjmenuDb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PkjmenuDb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyPerOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyPerOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
