@model IEnumerable<Paluto_Kay_Juan.Models.ContactUsModel>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact Us Messages</h1>

<table class="table table-bordered border-dark text-center">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td class="align-middle">
                <a asp-action="MsgDetails" asp-route-id="@item.MsgID" class="btn btn-secondary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
