@model IEnumerable<Paluto_Kay_Juan.Models.AdminModel>

@{
    ViewData["Title"] = "Booking";
    Layout = "_MainLayout";
}

<h1>BookNow</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmtPerOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                <img src="~/images/@item.FoodImgUrl" style="width:100px;height:100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtPerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-route-id="@item.Id">Edit</a> |
                <a asp-route-id="@item.Id">Details</a> |
                <a asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
