@model IEnumerable<Paluto_Kay_Juan.Models.MenuItemsClass>

@{
    ViewData["Title"] = "BookNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BookNow</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmtPerOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtPerOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* insert shit here */ }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* insert shit here */ })
            </td>
        </tr>
}
    </tbody>
</table>
