@model IEnumerable<AdminModel>
@{
    ViewData["Title"] = "Admin";
}

<p>
    <a asp-action="Create">Add Record</a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Img</th>
            <th>@Html.DisplayNameFor(model => model.DishName)</th>
            <th>@Html.DisplayNameFor(model => model.DishCategory)</th>
            <th>@Html.DisplayNameFor(model => model.AmtPerOrder)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img src="~/images/@item.FoodImgUrl" style="width:100px;height:100px"/>
                </td>
                <td>@Html.DisplayNameFor(model => model.DishName)</td>
                <td>@Html.DisplayNameFor(model => model.DishCategory)</td>
                <td>@Html.DisplayNameFor(model => model.AmtPerOrder)</td>
                <td>@Html.DisplayNameFor(model => model.Price)</td>
                <td>
                    <div class="button-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </thead>
</table>
